.navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  // margin-bottom: 10px;
  background-color: var(--dark-bg-color);
  color: var(--dark-color);
}

.left {
  display: flex;
  align-items: center;
}
.right {
  display: flex;

  align-items: center;
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90px;
  cursor: pointer;
}

.nickName {
  color: var(--dark-color);
}

.userImg {
  width: 26px;
  height: 26px;
}
